.card, .card1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 4px 12px rgba(0,0,0,0.06);
  min-height: 200px;
  border: 1px solid rgba(0,0,0,0.05);
}

.custom-grid {
  justify-content: end;
}

/* Below lg */
@media (max-width: 1024px) {
  .card1 {
    min-height: 110px;
  }
  .paddingContainer {
    padding: 0px 20px;
  }
  .custom-grid {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
}

/* Above lg */
@media (min-width: 1024px) {
  .paddingContainer {
    padding: 0px 40px;
  }
}

@media (max-width: 600px) {
}

.price {
  color: #64748b;
  font-weight: 600;
}

.align-center {
  align-items: center;
}
